/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

/* Estilo del logo */
.logo {
    height: 50px;
    margin-right: 20px;
    vertical-align: middle;
}

/* Estilo de la barra de navegación */
.navbar nav {
    display: flex;
    align-items: center; 
    padding: 10px;
}

/* Espaciado y estilo de los enlaces */
.navbar nav a {
    text-decoration: none;
    margin-right: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.navbar nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1022px) {
    .navbar-menu {
        display: flex !important;
    }
}



.content {
    padding: 20px;
}

/* Estilo del pie de página */
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

/* Estilo de las imágenes en la página de alojamientos */
.columns {
    margin-top: 20px;
}

.alojamiento-card {
    position: relative;
    width: 100%; /* Ocupa el 100% de la columna */
    height: 300px; /* Altura fija para que todas las tarjetas sean del mismo tamaño */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tamaño de las imágenes de alojamiento */
.alojamiento-img {
    width: 100%;
    height: 300px !important;
    object-fit: cover; 
}

/* Overlay que aparece cuando el cursor pasa sobre la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay .city-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Efecto hover en las imágenes */
.alojamiento-card:hover .overlay {
    opacity: 1;
}

.alojamiento-card:hover .alojamiento-img {
    transform: scale(1.1);
}

/* Cuadrícula 3x3 de las imágenes */
.column.is-4 {
    margin-bottom: 20px;
}

h2 {
    color: #fff;
}

/* Estilo para las imágenes de la página de inicio (carrousel) */
/* Carrousel de imagenes PAGINA HOME*/
.carousel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
     
 /* FORMULARIO PAGINA RESERVAS */
            



.section-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.section-reservas {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.contenedor-form {
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contenedor-form header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;

}

.contenedor-form .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}


.select-box select{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #707070;
    font-size: 1rem;   
    border-radius: 5px;    
}

.form button {
    height: 55px;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.form button:hover{
    background-color: #4c4c4c;
}

.input-box .cant_personas_container{
    display: inline-flex;
    align-items: center;
}

.cant_personas_container button {
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
}

.cant_personas_container input {
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
}
/* Responsive */

@media screen and (max-width: 500px){
.form .column{
    flex-wrap: wrap;
}
}

.section-form {
    margin-bottom: 20px;
}

#foto-ciudad {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.is-primary {
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
}

#datos-ciudad {
    width: 400px;
    margin-left: 35px;
}


/* INICIO DESCRIPCION */

.descripcion {
    max-width: 800px;
    margin: 50px auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    transition: all 0.3s ease-in-out;
}

.descripcion:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.descripcion h1 {
    font-size: 28px;
    color: #0073e6; 
    margin-bottom: 15px;
}

.descripcion p {
    font-size: 18px;
    line-height: 1.6; 
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.descripcion b {
    color: skyblue;
}

.descripcion p:last-child {
    font-weight: bold;
    font-size: 20px;
    color: #0073e6;
    margin-top: 15px;
}

/* HOTELES */
.hotel-card {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagen de los hoteles */
.hotel-img {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Overlay en las tarjetas de hoteles */
.hotel-card:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay .hotel-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* Hover efecto en las imágenes */
.hotel-card:hover .hotel-img {
    transform: scale(1.1);
}

/* Botones */
.hotel-card button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hotel-card button:hover {
    background-color: #4c4c4c;
}

/* Espaciado y alineación */
.hotel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.hotel-card-wrapper {
    width: calc(33% - 20px);
    margin-bottom: 20px;
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .hotel-card-wrapper {
        width: 100%;
    }

    .hotel-img {
        height: 250px;
    }
}

/* Descripción del hotel */
.hotel-description {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para el overlay */
.hotel-card:hover .overlay {
    opacity: 1;
}

#botones-hotel {
    margin: 10px;
}
